<table>
  <tr>
    <td><%= h message.body -%></td>
    <% if message.owner?(current_user) -%>
      <td><%= link_to 'Show', message -%></td>
      <td><%= link_to 'Edit', edit_message_path(message) -%></td>
      <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete -%></td>
    <% end -%>
  </tr>
</table>