= javascript_tag "$(document).ready(function() { ReplyToMessageForm.initialize(); });"
#replyToMessageFormContainer{ :style => "display: none;" }
  = render :partial => "messages/reply_to_message_form"
